<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
        <%= @user.username %>
      </div>
    </div>

    <div class="rooms">

    </div>
  </div>

  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="header-title">
          オススメの学習法 <%= @user.result.title %>
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
          <% if user_signed_in? %>
          <%= link_to 'チャット終了', finish_studies_path %>
          <% elsif admin_signed_in? %>
          <%= link_to 'チャット終了', rooms_path %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="messages" id="messages">
      <div class="message">

        <%# if user_signed_in? %>
        <div class="message-login" id="message">
          <% @messages.each do |message| %>
          <% if message.user_id %>
          <div class="message-wrapper-right">
            <div class="message-date">
              <%= message.created_at %>
            </div>
            <div class="message-content message-right">
              <%= message.message %>
            </div>
          </div>
          <% else %>
          <div class="message-wrappwer-left">
            <div class="message-date">
              <%= message.created_at %>
            </div>
            <div class="message-content message-left">
              <%= message.message %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <%# end %>

        <% if false %>
        ログイン者右表示コメントアウト開始
        <% if admin_signed_in? %>
        <div class="message-login" id="messages">
          <% @messages.reverse_each do |message| %>
          <% if message.admin_id %>
          <div class="message-wrapper-right">
            <div class="message-date">
              <%= message.created_at %>
            </div>
            <div class="message-content">
              <%= message.message %>
            </div>
          </div>
          <% else %>
          <div class="message-wrappwer-left">
            <div class="message-date">
              <%= message.created_at %>
            </div>
            <div class="message-content">
              <%= message.message %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <% end %>
        コメントアウト終了
        <% end %>

      </div>
    </div>

    <div class="form-wrapper">
      <%= form_with url: room_messages_path(@room.id) , local: true do |f| %>
      <div class="form">
        <div class="form-input">
          <%= f.text_field :message, class: "form-message", placeholder: "メッセージを入力", id: "message-text" %>
        </div>
        <%= f.submit '送信', class: "form-submit", id: "message-submit" %>
      </div>
    </div>
    <% end %>
  </div>


</div>