  <%= render "common/header_management" %>

  <div class="management">
    <div class="manegement-top">
      <div class="manegement-title">管理者</div>
    </div>
    <div class="management-inner">
      <div class="manegement-index">
        <table class="management-table">
          <tr class="management-record-h">
            <th>id</th>
            <th>name</th>
            <th>email</th>
            <th>created_at</th>
            <th>編集</th>
            <th>削除</th>
          </tr>
          <% @admins.each do |admin| %>
          <tr class="management-record-d">
            <td><%= admin.id %></td>
            <td><%= admin.name %></td>
            <td><%= admin.email %></td>
            <td><%= admin.created_at %></td>
            <td><%= link_to image_tag("edit-image.png", class:"edit-image"), edit_admin_registration_path %></td>
            <td>
              <%= link_to image_tag("delete-image.png", class:"delete-image"), admin_registration_path, method: :delete, data: {confirm: "本当に削除しますか?"}   %>
            </td>

          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>