  <%= render "common/header_management" %>

  <div class="management">
      <div class="manegement-top">
        <div class="manegement-title">管理データ</div>
        <div class="new-manegement-button">
          <%= link_to '新規作成', new_study_path, class:"new-manegement-btn" %>
        </div>
      </div>
    <div class="management-inner">
      <div class="manegement-index">
        <table class="management-table">
          <tr class="management-record-h">
            <th>id</th>
            <th>method</th>
            <th>content</th>
            <th>reason</th>
            <th>price</th>
            <th>image</th>
            <th>url</th>
            <th>created_at</th>
            <th>編集</th>
            <th>削除</th>
          </tr>
          <% @studies.each do |study| %>
          <tr class="management-record-d">
            <td><%= study.id %></td>
            <td><%= study.method %></td>
            <td><%= study.content %></td>
            <td><%= study.reason %></td>
            <td><%= study.price %></td>
            <td><%= image_tag study.image %></td>
            <td><%= study.url %></td>
            <td><%= study.created_at %></td>
            <td><%= link_to image_tag("edit-image.png", class:"edit-image"), edit_study_path(study.id) %></td>
            <td><%= link_to image_tag("delete-image.png", class:"delete-image"),  study_path(study.id), method: :delete, data: {confirm: "本当に削除しますか?"}   %></td>

          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>