<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="header-name">
        <%= current_user.username %>
      </div>
    </div>

    <div class="rooms">
      <% @users.each do |user| %>
      <div class="room">
        <div class="room-name">
          <%= user.username %>
        </div>
      </div>
      <% end %>
    </div>


  </div>

  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="header-title">
          オススメの学習法 <%= current_user.result.title %>
        </div>
      </div>
      <div class="right-header">
        <div class="header-button">
          <a href="#">チャット終了</a>
        </div>
      </div>
    </div>

    <div class="messages">
      <div class="message">
        <div class="upper-message">
          <div class="message-user">
            ユーザー名
          </div>
          <div class="message-date">
            投稿日時
          </div>
        </div>
        <div class="lower-message">
          <div class="message-content">
            自己肯定感が強いタイプです。温厚で優しく、基本的にポジティブです。
          </div>
        </div>

        <div class="message-login">
          <div class="upper-message">
            <div class="message-user">
              ユーザー名
            </div>
            <div class="message-date">
              投稿日時
            </div>
          </div>
          <div class="lower-message">
            <div class="message-content">
              投稿内容
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-wrapper">
      <div class="form">
        <div class="form-input">
          <input class="form-message" placeholder="メッセージを入力">
        </div>
        <input class="form-submit" type="submit" value="送信">
      </div>



      <div class="room-create">
        <%= form_with model: @room, local: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="room-button">
          <%= f.submit "submit", class: "room-submit-btn" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


</div>