<header>
  <div class="inner m-header-inner">
    <div class="m-header-left">
      <div class="m-header-logo">
        <%= image_tag("logo.png") %>
      </div>
    </div>
    <% if admin_signed_in? %>
    <div class="m-header-right">
      <div class="m-header-content">
        <%= link_to '管理ユーザー一覧', admins_index_path %>
      </div>
      <div class="m-header-content">
        <%= link_to '管理データ編集', studies_path %>
      </div>
      <div class="m-header-content">
        <%= link_to 'チャットルーム', rooms_path %>
      </div>
      <div class="m-header-content">
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
      </div>
    </div>
    <% end %>
  </div>
</header>