  <header id="js-header">
    <div class="inner header-inner">
      <div class="header-left">
        <div class="header-logo">
          <%= link_to image_tag("logo.png"), "/" %>
        </div>
      </div>
      <div class="header-right">
        <% if user_signed_in? %>
        <div class="header-item">
          <%= link_to current_user.username, edit_user_registration_path %>
        </div>
        <div class="header-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </div>
        <% end %>
        <div class="header-item">
          <%= link_to 'チャット相談', new_user_session_path %>
        </div>
        <div class="header-item">
          <%= link_to 'お問い合わせ', '#' %>
        </div>
      </div>
      <div class="header-menu"></div>
    </div>
    <div class="menu-bg"></div>
  </header>