  <header>
    <div class="inner header-inner">
      <div class="header-left">
        <div class="header-logo">
          <%= link_to image_tag("logo.png"), "/" %>
        </div>
      </div>
      <div class="header-right">
        <div class="header-login">
          <%= link_to 'データ編集', new_study_path %>
        </div>


        <% if user_signed_in? %>
        <div class="header-login">
          <%= link_to current_user.username, '#' %>
        </div>
        <div class="header-login">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </div>
        <% else %>
        <div class="header-sign-up">
          <%= link_to '新規登録', 'new_user_registration_path' %>
        </div>
        <div class="header-login">
          <%= link_to 'ログイン', new_user_session_path %>
        </div>
        <% end %>
        <div class="contact-inner">
          <%= link_to 'お問い合わせ', '#' %>
        </div>
      </div>
    </div>
  </header>