  <header>
    <div class="inner header-inner">
      <div class="header-left">
        <div class="header-logo">
          <%= link_to image_tag("logo.png"), "/" %>
        </div>
      </div>
      <div class="header-right">
        <div class="header-login">
          <%= link_to 'データ編集', new_study_path %>
        </div>
        <div class="header-login">
          <%= link_to 'ログイン', '#' %>
        </div>
        <div class="header-sign-up">
          <%= link_to '新規登録', '#' %>
        </div>
        <div class="contact-inner">
          <%= link_to 'お問い合わせ', '#' %>
        </div>
      </div>
    </div>
  </header>